In [ ]:
! pip install mysql.connector

In [ ]:
! curl ipinfo.io/ip

In [ ]:
import mysql.connector
import json

In [ ]:
def create_mysql_connection(user: str, password: str, host: str, database: str):
    connection_config = {
        'user': user,
        'password': password,
        'host': host,
        'database': database,
    }

    try:
        connector = mysql.connector.connect(**connection_config)
        return connector
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None

def close_mysql_connection(connector, cursor):
    cursor.close()
    connector.close()

In [ ]:
with open('creds.json', 'r') as file:
    creds = json.load(file)

connector = create_mysql_connection(**creds)

In [ ]:
cursor = connector.cursor()

In [ ]:
query = f'''
CREATE TABLE items (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    description TEXT
);
'''

cursor.execute(query)
connector.commit()

In [ ]:
query2 = f"SHOW COLUMNS FROM items;"

cursor.execute(query2)
result = cursor.fetchall()
for row in result:
  print(row)

('id', b'int', 'NO', bytearray(b'PRI'), None, '')
('name', b'varchar(255)', 'YES', bytearray(b''), None, '')
('description', b'text', 'YES', bytearray(b''), None, '')

In [ ]:
query3 = f'INSERT INTO items (id, name, description) VALUES (%s, %s, %s)'
items = [
    {'id': 1, 'name': 'book', 'description': 'just a book'},
    {'id': 2, 'name': 'water clock', 'description': 'shiny!'},
  ]

for item in items:
    cursor.execute(query3, (item['id'], item['name'], item['description']))

connector.commit()

In [ ]:
query4 = f'SELECT * FROM items;'

cursor.execute(query4)
result = cursor.fetchall()

for row in result:
  print(row)

(1, 'book', 'just a book')
(2, 'water clock', 'shiny!')

In [ ]:
close_mysql_connection(connector, cursor)